version: '3.8'

services:
  downscale-sm:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    image: downscale-sm:latest
    container_name: downscale-sm
    environment:
      - DATA_DIR_PATH=/Data
    volumes:
      - ./Src:/App/Src
      - ./Checkpoint:/App/Checkpoint
      - /Volumes/Elements SE/Data/Downscale-DM:/Data
    working_dir: /App
    command: python Src/Task/DownscaleSM/Inferencer.py
